
    .GamesStoreWrapper{
        width: 100%;
        position: relative;
        overflow: hidden;
        .decor-1{
            width: 100%;
                overflow: hidden;
                position: absolute;
                height: 100%;
                z-index: -1;
                &::before{
                  content: '';
                  position: absolute;
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  border: 4px solid rgba(51, 55, 135, 0.6);
                  top: 134px;
                right: 170px;
              }
                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 6px;
                    top: 150px;
                    right: 175px;
                    background: linear-gradient(180deg, rgba(51, 55, 135, 0.6) 0%, rgba(45, 202, 89, 0.4) 15%, rgba(51, 55, 135, 0.6) 35%,  rgba(45, 202, 89, 0.4) 60%, rgba(51, 55, 135, 0.6) 100%);
                    z-index: -1;
                }
         }
         .decor-2{
            width: 100%;
                overflow: hidden;
                position: absolute;
                height: 100%;
                z-index: -1;
                &::before{
                  content: '';
                  position: absolute;
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  border: 4px solid rgba(51, 55, 135, 0.6);
                  top: 314px;
                  right: 318px;
              }
                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 6px;
                    top: 330px;
                    right: 323px;
                    background: linear-gradient(180deg, rgba(51, 55, 135, 0.6) 0%, rgba(45, 202, 89, 0.4) 15%, rgba(51, 55, 135, 0.6) 35%,  rgba(45, 202, 89, 0.4) 60%, rgba(51, 55, 135, 0.6) 100%);
                    z-index: -1;
                }
         }
        &::before{
          content: '';
          position: absolute;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          border: 4px solid rgba(51, 55, 135, 0.6);
          top: 14px;
          right: 115px;
      }
        &::after{
            content: '';
            position: absolute;
            height: 100%;
            width: 6px;
            top: 30px;
            right: 120px;
            background: linear-gradient(180deg, rgba(51, 55, 135, 0.6) 0%, rgba(45, 202, 89, 0.4) 15%, rgba(51, 55, 135, 0.6) 35%,  rgba(45, 202, 89, 0.4) 60%, rgba(51, 55, 135, 0.6) 100%);
            z-index: -1;
            }
    
        .bannerWrapper{
            display: flex;
            width: 100%;
            padding: 15px;
            
            .bannerLeftSideWrapper{
                width: 100%;
                min-width: 60%;
                position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            border: 4px solid rgba(51, 55, 135, 0.2);
                            bottom: 17px;
                            right: -45px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            height: 6px;
                            width: 600px;
                            bottom: 22px;
                            right: -644px;
                            background: linear-gradient(90deg, rgba(51, 55, 135, 0.3) 0%, rgba(45, 202, 89, 0.06) 30%),  rgba(45, 202, 89, 0) 40%;
                        }
                .Carousel{
                    width: 100%;
                    max-height: 400px;
                    min-height: 400px;
                    border-radius: 30px;
                    overflow: hidden;
                    margin-bottom: 35px;
                    
                    .slide{
                        width: 100%;
                        min-height: 400px;
                        background-size: cover !important;
                    }
    
                    .carousel .slider-wrapper{
                        min-height: 400px;
                    }
        
                    .carousel.carousel-slider {
                        overflow: inherit;
                    }
                    
                    .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
                        background-color: transparent;
                        right: 20px;
                    }
                    
                    .carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
                        background-color: transparent;
                        left: 20px;
                        
                    }
                    
                    .carousel .control-arrow, .carousel.carousel-slider .control-arrow{
                        opacity: 1;
                    }
                    
                    .carousel .control-next.control-arrow:before {
                        content: '';
                        border: solid #ffffff;
                        border-width: 0 8px 8px 0;
                        display: inline-block;
                        padding: 14px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        border-radius: 5px;
                    }
                    
                    .carousel .control-prev.control-arrow:before {
                        content: '';
                        border: solid #ffffff;
                        border-width: 0 8px 8px 0;
                        display: inline-block;
                        padding: 14px;
                        transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        border-radius: 5px;
                    }
                }
            }
    
    
            .suggestedContainer{
                display: flex;
                padding-right: 30px;
                .suggested-firs--container{
                    position: relative;
                    .decor-bottom{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            border: 4px solid rgba(51, 55, 135, 0.4);
                            top: 321px;
                            left: 72px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            height: 85px;
                            width: 6px;
                            top: 238px;
                            left: 77px;
                            background: linear-gradient(360deg, rgba(51, 55, 135, 0.4) 0%, rgba(45, 202, 89, 0.233) 100%);
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 4px solid rgba(51, 55, 135, 0.4);
                        top: 50px;
                        right: -71px;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        height: 6px;
                        width: 55px;
                        top: 55px;
                        right: -55px;
                        background: linear-gradient(270deg, rgba(51, 55, 135, 0.6) 0%, rgba(45, 202, 89, 0.4) 100%);
                    }
                }
                .suggested-second--container{
                    display: flex;
                    align-items: flex-end;
                }
                .suggested-first, .suggested-second{
                    width: 200px;
                    height: 240px;
                    margin-left: 28px;
                    border-radius: 30px;
                    background-size: cover !important;
                    overflow: hidden;
                    position: relative;
                    .label{
                        position: absolute;
                        background: #ffffff;
                        width: 100%;
                        text-align: center;
                        height: 35px;
                        top: 0;
                        left: 0;
                        color: black;
                        font-size: 24px;
                    }
                    .price{
                        position: absolute;
                        background: #ffffff;
                        width: 85px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top-left-radius: 30px;
                        bottom: 0;
                        right: 0;
                        color: black;
                        font-size: 32px;
                        transition: all .2s ease;
                        cursor: pointer;
                        &:hover{
                            width: 90px;
                            height: 50px;
                        }
                    }
                }
            }
            
        }
    
        .gamesList{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-right: 30px;
    
            .game{
                position: relative;
                border-radius: 30px;
                overflow: hidden;
                width: 200px;
                height: 135px;
                margin: 12px 14px;
                .addButtton{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 50px;
                    height: 30px;
                    background: #ffffff;
                    border-top-left-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        width: 60px;
                        height: 40px;
                    }
                }
            }
        }
    }

